<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='/stylesheets/styles.css'>
		<link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	</head>
	<body>
		<div class='client-table container'>
			{{#table}}
				<div class="client-row client-row-{{name}} client-major-{{major}} row" data-path='{{path}}'>
					<div class="client-info col-md-9 panel {{#tagged}}panel-default{{/tagged}}{{^tagged}}panel-danger{{/tagged}}">
						<div class="row panel-heading">
							<div class="client-name client-name-{{name}} col-md-12">
								<span class="client-name-text">{{name}}</span>
							</div>
						</div>
						<div class="row panel-body">
							<div class="client-path client-path-{{path}} col-md-7">
								<span class='label label-default'>{{lang.client-location}}</span>
								<span class="client-path-text">{{path}}</span>
							</div>
							<div class="client-version client-version-{{version}} col-md-5">
								<span class='label label-default'>{{lang.client-version}}</span>
								<span class="client-version-text">{{version}}</span>
								<span class='label label-default'>{{lang.client-timestamp}}</span>
								<span class="client-version-text">{{timestamp}}</span>
							</div>
						</div>
					</div>
					<div class="client-control-panel client-control-{{name}} col-md-3">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<button type="button" class="btn btn-primary server-start server-start-{{name}}">{{lang.start-server-button-text}}</button>
								<button type="button" class="btn btn-primary deploy deploy-{{name}}" {{^tagged}}disabled{{/tagged}}>{{lang.deploy-button-text}}</button>
								<span class="label label-default">{{lang.tag-action}}</span>
								<div class="btn-group">
									<button type="button" class="btn btn-default tag tag-major">{{lang.tag-major}}</button>
									<button type="button" class="btn btn-default tag tag-minor">{{lang.tag-minor}}</button>
									<button type="button" class="btn btn-default tag tag-minor">{{lang.tag-bug}}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/table}}
		</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="javascripts/handler.js"></script>
	</body>
</html>