body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.client-name-text {
  font-size: 36px;
}
.client-version-text,
.client-path-text {
  font-size: 24px;
}

.client-version span,
.client-path span {
  float: left;
  clear: left;
}

.row.panel-body {
  min-height: 110px;
}